@model IEnumerable<MusicStoreEF.Models.Album>

@{
    ViewBag.Title = "Home Page";
}

<h2>Albums</h2>

<div class="row">
    <div class="col-md-6">
        <table class="table">
            <tbody>
                @foreach (var album in @Model)
                {
                    <tr>
                        <td><img src="@album.CoverUrl" style="width: 250px"/></td>
                        <td>
                            <ul class="list-group">
                                <li class="list-group-item">Artist: @album.Artist.Name</li>
                                <li class="list-group-item">Country: @album.Artist.Country</li>
                                <li class="list-group-item">Name: @album.Name</li>
                                <li class="list-group-item">Year: @album.Year</li>
                            </ul>
                            <button class="btn btn-default">Buy</button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>