@using MusicStoreEF.Helpers
@model MusicStoreEF.ViewModels.ReleaseDetailsVm

@{
    ViewBag.Title = $"{string.Join(", ", Model.Artists.Select(a => a.Name))} - {Model.Name}";
}

<div class="row releaseInfo">
    <div class="col-md-4">
        <img src="@Model.CoverUrl" class="release-cover"/>
    </div>
    <div class="col-md-4">
        <h5 class="category">Release</h5>
        <h2>@Model.Name</h2>
        <ul class="list-group">
            @HtmlHelpers.ListItem("Artists", Model.Artists.ToCommaSeparatedLinks(Request.RequestContext))
            @HtmlHelpers.ListItem("Release Date", new MvcHtmlString(Model.ReleaseDate.ToShortDateString()))
            @HtmlHelpers.ListItem("Label", Html.ActionLink(Model.Label.Name, "Index", "Label", new {id = Model.Label.Id}, null))
        </ul>
    </div>
</div>

<div class="tracklist">
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th></th>
                    <th>Title</th>
                    <th>Artists</th>
                    <th>Genre</th>
                    <th>BPM</th>
                    <th>Key</th>
                    <th>Length</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var track in Model.Tracks)
                {
                    <tr>
                        <td>
                            <div class="trackNumber">
                                @track.Number
                            </div>
                        </td>
                        <td>@track.Name</td>
                        <td>@Model.Artists.ToCommaSeparatedLinks(Request.RequestContext)</td>
                        <td>@track.Genre</td>
                        <td>@track.BPM</td>
                        <td>@track.Key</td>
                        <td>@track.Length.ToMinutesAndSeconds()</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>