@model MusicStoreEF.Models.Release

@{
    ViewBag.Title = $"{Model.FormattedArtists} - {Model.Name}";
}

<div class="row">
    <div class="col-md-4">
        <img src="@Model.CoverUrl" class="img-responsive" />
    </div>
    <div class="col-md-4">
        <h5 class="category">Release</h5>
        <h2 class="category">@Model.Name</h2>
        <ul class="list-group">
            @HtmlHelpers.ListItem("Artists", Model.FormattedArtists)
            @HtmlHelpers.ListItem("Release Date", @Model.ReleaseDate.ToShortDateString())
            @HtmlHelpers.ListItem("Label", Model.Label.Name)
        </ul>
    </div>
</div>

<div class="tracklist">
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th></th>
                    <th class="table-header">Title</th>
                    <th class="table-header">Artists</th>
                    <th class="table-header">Genre</th>
                    <th class="table-header">BPM</th>
                    <th class="table-header">Key</th>
                    <th class="table-header">Length</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var track in @Model.Tracks)
                {
                    <tr>
                        <td>@track.Number</td>
                        <td>@track.Name</td>
                        <td>@Model.FormattedArtists</td>
                        <td>@track.Genre</td>
                        <td>@track.BPM</td>
                        <td>@track.Key</td>
                        <td>@track.Length</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>