@using System.Globalization
@model IEnumerable<MusicStoreEF.ViewModels.ReleaseViewModel>

@{
    ViewBag.Title = "Releases";
}

<h2 class="category">New releases</h2>

@foreach (var release in Model)
{
    <div class="row new-release">
        <div class="col-md-4 release-cover">
            <a href="@Url.Action("Details", "Release", new {id = release.Id})">
                <img src="@release.CoverUrl" class="img-responsive" />
            </a>
        </div>
        <div class="col-md-4">
            <ul class="list-group">
                @HtmlHelpers.ListItem("Name", release.Name)
                @HtmlHelpers.ListItem("Artists", release.Artists)
                @HtmlHelpers.ListItem("Release date", release.ReleaseDate.ToShortDateString())
                @HtmlHelpers.ListItem("Genre", release.Genre)
            </ul>
            <button type="button" class="btn btn-default">
                <span class="glyphicon glyphicon-play" aria-hidden="true"></span>
            </button>
            <button type="button" class="btn btn-default">
                <span class="price">$@release.Price.ToString(CultureInfo.InvariantCulture)</span>
            </button>
        </div>
        <div class="col-md-4"></div>
    </div>
}