@model IEnumerable<MusicStoreEF.Models.Release>

@{
    ViewBag.Title = "Releases";
}

<h2 class="category">New releases</h2>

@foreach (var release in @Model)
{
    <div class="row new-release">
        <div class="col-md-4 col-xs-8">
            <a href="@Url.Action("Details", "Release", new {id = release.Id})">
                <img src="@release.CoverUrl" class="img-responsive" />
            </a>
        </div>
        <div class="col-md-4 col-xs-4">
            <ul class="list-group">
                <li class="list-group-item">Name: @release.Name</li>
                <li class="list-group-item">Artist: @string.Join(", ", release.Artists.Select(x => x.Name))</li>
                <li class="list-group-item">Release date: @release.ReleaseDate.ToShortDateString()</li>
                <li class="list-group-item">Genre: @release.Genre</li>
            </ul>
            <button class="btn btn-default">Buy</button>
        </div>
        <div class="col-md-4"></div>
    </div>
}