@using System.Globalization
@using MusicStoreEF.Helpers
@using MusicStoreEF.ViewModels
@model IEnumerable<TrackDetailsVm>

@{
    ViewBag.Title = "Tracks";
}

<h2>Tracks</h2>

<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th></th>
                <th></th>
                <th>Title</th>
                <th>Artists</th>
                <th>Label</th>
                <th>Genre</th>
                <th>Key</th>
                <th>Released</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var track in Model)
            {
                <tr>
                    <td class="release-cover-container">
                        <a href="@Url.Action("Details", "Release", new { id = track.ReleaseId })">
                            <img src="@track.ReleaseCoverUrl" class="release-cover-tiny" />
                        </a>
                    </td>
                    <td>
                        @if (!string.IsNullOrEmpty(track.AudioUrl))
                        {
                            @Html.Partial("_PlayButton", new PlayButtonVm
                            {
                                AudioUrl = track.AudioUrl,
                                ButtonClass = "btn-sm"
                            })
                        }
                    </td>
                    <td>@track.Name</td>
                    <td>@track.Artists.ToCommaSeparatedLinks(Request.RequestContext)</td>
                    <td><a href="@Url.Action("Index", "Label", new {id = track.Label.Id})">
                            @track.Label.Name
                        </a>
                    </td>
                    <td>@track.Genre</td>
                    <td>@track.Key</td>
                    <td>@track.ReleaseDate.ToShortDateString()</td>
                    <td>$@track.Price.ToString(CultureInfo.InvariantCulture)</td>
                </tr>
            }
        </tbody>
    </table>
</div>