@using System.Globalization
@using MusicStoreEF.Helpers
@model IEnumerable<MusicStoreEF.Models.Track>

@{
    ViewBag.Title = "Tracks";
}

<h2 class="category">Tracks</h2>

<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th></th>
                <th>Title</th>
                <th>Artists</th>
                <th>Label</th>
                <th>Genre</th>
                <th>Key</th>
                <th>Released</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var track in Model)
            {
                <tr>
                    <td class="release-cover-container">
                        <a href="@Url.Action("Details", "Release", new { id = track.ReleaseId })">
                            <img src="@track.Release.CoverUrl" class="release-cover-tiny" />
                        </a>
                    </td>
                    <td>@track.Name</td>
                    <td>@track.Release.Artists.ToCommaSeparatedLinks(Request.RequestContext)</td>
                    <td>@track.Release.Label.Name</td>
                    <td>@track.Genre.Name</td>
                    <td>@track.Key</td>
                    <td>@track.Release.ReleaseDate.ToShortDateString()</td>
                    <td>$@track.Price.ToString(CultureInfo.InvariantCulture)</td>
                </tr>
            }
        </tbody>
    </table>
</div>